<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.3.1-ci891" targetFramework="net452" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.10" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
</packages>