<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--默认用户-->
    <add key="DEFAULT_USER_MAIL" value="whucstao@qq.com" />
    <!--程序显示名-->
    <add key="SOFTWARE_NAME" value="城市景点推荐系统" />
    <!--城市信息-->
    <add key="CITY_NAME" value="深圳" />
    <!--#region WebApi服务-->
    <add key="WEB_API_HOST_PORT" value="http://39.108.171.209:2901/" />
    <add key="NET_WORK_DELAY" value="3000" />
    <!--得到用户信息的接口，参数为mail，如"http://39.108.171.209:2901/viewspot/userinfo?mail=990296951@qq.com"-->
    <add key="WEB_API_GET_USER_INFO" value="http://39.108.171.209:2901/viewspot/userinfo" />
    <!--#endregion-->
    <!--地图切片服务-->
    <add key="WMTS_HOST_PORT" value="http://39.108.171.209:8081/" />
    <!--数据库服务-->
    <add key="MYSQL_HOST" value="39.108.171.209" />
    <add key="MYSQL_PORT" value="3306" />
    <add key="MYSQL_USER" value="rsgisgeeks" />
    <add key="MYSQK_PASSWORD" value="1506geeks" />
    <add key="MYSQK_DATABASE" value="ViewSpotOfWuhan" />
    <!--地图中心-->
    <add key="MAP_CENTER_LNG" value="114.1121537" />
    <add key="MAP_CENTER_LAT" value="22.549029" />
    <!--GMap缩放-->
    <add key="MAP_ZOOM" value="11" />
    <add key="MAP_MIN_ZOOM" value="7" />
    <add key="MAP_MAX_ZOOM" value="23" />
    <!--ArcgisMap地图缩放-->
    <add key="ARCGIS_MAP_ZOOM" value="110000" />
    <add key="ARCGIS_MAP_MIN_ZOOM" value="200000" />
    <add key="ARCGIS_MAP_MAX_ZOOM" value="20000" />
    <!--graphhooper接口-->
    <add key="GRAPHHOOPER_ROUTE_API_URL" value="https://graphhopper.com/api/1/route" />
    <add key="GRAPHHOOPER_ROUTE_API_VEHICLE" value="car" />
    <add key="GRAPHHOOPER_ROUTE_API_DEBUG" value="false" />
    <add key="GRAPHHOOPER_ROUTE_API_KEY" value="d3c705e4-cf27-4dc0-9c9e-5ff599db7ce8" />
    <!--邮箱-->
    <add key="MANAGER_MAIL_NUM" value="2292260444@qq.com" />
    <!--邮箱密码-->
    <add key="MANAGER_MAIL_PASSWORD" value="tytruaiewgyoeadj" />
    <!--邮件显示名-->
    <add key="MANAGER_MAIL_NAME" value="RSGISGEEKS" />
    <!--QQ邮箱对应的SMTP服务器-->
    <add key="SmtpClient_HOST" value="smtp.qq.com" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>