<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--程序显示名-->
    <add key="SOFTWARE_NAME" value="城市景点推荐系统"/>
    <!--城市信息-->
    <add key="CITY_NAME" value="深圳"/>
    
    <!--网络服务-->
    <add key="WEB_API_HOST_PORT" value="http://39.108.171.209:2901/"/>
    <add key="NET_WORK_DELAY" value="3000"/>
    <!--地图切片服务-->
    <add key="WMTS_HOST_PORT" value="http://39.108.171.209:8081/"/>
    <!--地图中心-->
    <add key="MAP_CENTER_LNG" value="114.2"/>
    <add key="MAP_CENTER_LAT" value="22.62"/>
    <!--地图缩放-->
    <add key="MAP_ZOOM" value="11"/>
    <add key="MAP_MIN_ZOOM" value="7"/>
    <add key="MAP_MAX_ZOOM" value="23"/>
  </appSettings>
</configuration>